/* Password Generator Box */
/* variables */
$bkgr: rgb(147, 55, 155);
$pwd-gtor:rgb(174, 143, 188);
$various: purple;
$form: rgb(250, 195, 205);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    align-content: center;
    user-select: none;
}

body {
    background-color: $bkgr;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.pwd-generator-box {
    background-color: $pwd-gtor;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px $various;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .box-title {
        padding: 1rem;
        text-align: center;
        color: $various;
        font-weight: bold;
        align-content: center;
}

.generate-pwd-form {
    display: grid;
    border: 1px $various;
    border-radius: 1rem;
    row-gap: 3rem;
    background-color: $form;
    }

    .subtitle-form {
        padding: 1rem;
        color: rebeccapurple;
        text-align: center;
        border-bottom: 20px rebeccapurple;

}   

.secured-pwd-box {
    padding: 1rem;
    border-radius: 1rem;
    }
    h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $various;
    }
    .pwd-input, input{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        background: lightgrey;
        padding: 1rem;
        border: 1px solid purple;
        border-style: dashed;
        border-radius: 1rem;
        color: rgb(55, 55, 131);
        height: 2rempx;
        width: 300px;
        word-break: break-all;    
    }
    .pwd-btn{
        position: relative;
        display: inline-block;
        left: 5rem;
        bottom: 1rem;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        background-color: lightgrey;
        border-radius: 1rem;
    }

